<h1>Question</h1>

<p>Question : <%= @question.question %></p>
<p>Réponse 1 : <%= @question.answer1 %></p>
<p>Réponse 2 : <%= @question.answer2 %></p>
<p>Réponse 3 : <%= @question.answer3 %></p>
<p>Réponse 4 : <%= @question.answer4 %></p>
<p>good answer : <%= @question.correct_answers %></p>

<%= link_to "retour a l'index", questions_path %>
